<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>All Project Statuses | Project Limitless</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/limitless.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/zepto.min.js"></script>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" value="Project Limitless is a platform for naturally controlling all the technology around you." />
		<meta property="og:title" content="All Project Statuses | Project Limitless - Everyone's Jarvis" />
		<meta property="og:description" content="Project Limitless is a platform for naturally controlling all the technology around you." />
		<meta property="og:image" content="https://www.projectlimitless.io/i/logo/logo-open-graph.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:site" content="@prjlimitless" />
		<meta property="twitter:creator" content="@prjlimitless" />
		<meta property="twitter:title" content="All Project Statuses | Project Limitless - Everyone's Jarvis" />
		<meta property="twitter:description" content="Project Limitless is a platform for naturally controlling all the technology around you." />
		<meta property="twitter:image" content="https://www.projectlimitless.io/i/logo/logo-open-graph.png" />
		<meta property="twitter:domain" content="projectlimitless.io" />

		<link rel="apple-touch-icon" sizes="57x57" href="i/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="i/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="i/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="i/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="i/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="i/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="i/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="i/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="i/icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="i/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="i/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="i/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="i/icons/favicon-16x16.png">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="holder">
			<div class="logo">
				<a href="https://www.projectlimitless.io" target="_blank"><img src="i/logo-full.png" alt="Project Limitless Logo"/></a>
			</div>
            {{ range $key, $config := .Projects}}
                <div class="status section" id="project-{{ $key }}">
                    <b>Loading {{$config.Name}} status...</b>
                </div>
            {{ end }}
        </div>
        <div class="cb"></div>
        <!-- TODO: Add Analytics -->
    </body>
    <script type="text/javascript">
        var baseUrl = "/";
        var projects = [];
        {{ range $key, $config := .Projects}}
            projects.push('{{ $key }}');
        {{ end }}

        $(document).ready(function(e){
            for (i = 0; i < projects.length; i++) {
                var project = projects[i];
                fetchStatus(project);
            }
        });

        function fetchStatus(project) {
            $.ajax({
                url: baseUrl + project + '/status',
                success: function(data){
                    var holder = $('#project-' + project);
                    holder.html(data);
                }
            });
        }
    </script>
</html>
